<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Information Page</title>
<link href="../static/css/boook.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="big_wapper">
	<header>
		<h4>Your type of books in Alibris Books Onlines</h4>
		<h1>ali<span>bris</span><img src="../static/pics/5.gif" width="50px" height="50px"></h1>
	 <nav>
            <ul id="menu">
                <li><a href="../templates/home.html">Home</a></li>
                <li><a href="../templates/mainpage.html">Main</a></li>
				<li><a href="../templates/about.html">About</a></li>
            
            </ul>
		 <a href="Sign up.html"><img src="../static/pics/login.png"></a>
        </nav>
		<nav>
		<input type="text" name="Search" placeholder="Search by title ,Author or ISBN">
		  <button id="b1" type="submit">Search</button>
		 </nav>
</header>
		<div id="info">
		<p>KNOW ME</p>
			
		Loh Bridget Sitsofe is my name. I am 21 years of age and i come from Battor in the Volta Region.<br>
		I reside at Juapong.I live with my sister.Who is working at Ultimate Beads Collection owned by Her. 
		
		She is a uniqe woman with many qualities. 
		I wrote my BECE at Roman Catholic  junior high school,
		 </a>Which can be located at Adidome in the Volta Region.I continued my Secondary leve at Sogakpoe,
		<a link href = "combotech.edu.gh"> </a> Where I studied Printing Technology.<br>
		<a link href ="htu.edu.gh">Ho Technical University </a>where am currently studying HND in Information Communication and Technolgy.
		<div id= "image3"><img src ="../static/pics/78.jpg" weight="3000px" height="500px"></div>
		I have a lot of hobbies and there are
				<ul>
					<li>Playing Video Games<a link href = "devil may cry">(Devil May Cry)</a></li><br>
					<li>Watching Movies</li><br>
					<li>Reading</li><br>
					<li>Sing</li><br>
					<li><a link href = "badminton">Playing Badminton</a></li>
		</ul>
			So this is a little about my self. For more information 
			<a href="../templates/Contact Page.html"><button id="b2" type="submit">CONTACT</button></a>
			
	</div>
		<footer id = "the_footer">ALIBRIS BOOKS &copy; 2018
		</footer>
	</div>
</body>
</html>
